extends layout

block content
  form(action='/articles/search-article', method='POST')
    .row-fluid
      .span6
        input(type='text', name='title', value='', placeholder='Type Name Article')
      .span6
        select(name='sortBy')
            option(value='') -- Order by --
            option(value='newest') Newest
            option(value='oldest') Oldest
    .row-fluid
      .span6 
        input(type='submit', value='Search')

    each article in articles
      .row-fluid
        .box-inside
          .article-list
            h4= article.headline.main ? article.headline.main : ''
            h5= article.abstract ? article.abstract : ''
            - var img = article.multimedia[0].url ? path_image+article.multimedia[0].url : ''
            img(src=img)
            h6= article.lead_paragraph ? article.lead_paragraph : ''
            a.btn(href=article.web_url) Read more »
            hr
    
    .row-fluid
      .box-inside 
        a.btn(href='/') Back to Home »
    